MARSTEK_HOST=192.168.31.96
MARSTEK_PORT=30000
MARSTEK_DEVICE_ID=0
MARSTEK_MODBUS_HOST=192.168.31.96
MARSTEK_MODBUS_PORT=502
MARSTEK_MODBUS_UNIT=1
DRY_RUN=true
DAY_TARGET_SOC=50
OUTAGE_TARGET_SOC=80
NIGHT_TARGET_SOC=100
OUTAGE_THRESHOLD_HOURS=3
NIGHT_START=23:00
NIGHT_END=07:00
POLL_SECONDS=30
OUTAGE_FEED_URL=
